[Unit]
Description=Jupyter Lab

[Service]
ExecStart=/home/ec2-user/anaconda3/bin/jupyter lab --port=8443 --config=/home/ec2-user/jupyter_notebook_config.json --no-browser
User=ec2-user
WorkingDirectory=/home/ec2-user/notebooks
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target